/* ================================================================
   FONTS
   ================================================================ */
@font-face {
    font-family: "Nina";
    src: url(../typos/NINNA/NinnaTrial-Bold.otf);
    font-display: swap;
}

@font-face {
    font-family: "Swiss";
    src: url("../typos/SwissPosters Trial/SwissPosters Trial VAR/SwissPosters Trial VAR WOFF2/Swissposters Trial VAR-VF.ttf.woff2") format("woff2-variations");
    font-display: swap;
}

@font-face {
    font-family: "inte";
    src: url(../typos/Integral-CF-Font-Family/Fontspring-DEMO-integralcf-extrabold.otf);
    font-display: swap;
}