/* ================================================================
   HOME PAGE (INDEX)
   ================================================================ */
body > img:hover {
  filter: grayscale(0%);
}

body > section {
  color: white;
  display: flex;
  flex-direction: column-reverse;
  margin-top: 10%;
  animation: 1s ease-out slideInLeft;
}

@media (max-width: 991px) {

  body > section {
    text-align: center;
    margin-top: 2rem;
  }

  p {
    margin-top: 0;
  }
}

@media (max-width: 600px) {
  body > img {
    max-width: 80%;
  }

  p {
    margin-top: 0;
  }
}
