@font-face {
    font-family: "Nina";
    src: url(typos/NINNA/NinnaTrial-Bold.otf);
}

@font-face {
    font-family: "Swiss";
    src: url("typos/SwissPosters Trial/SwissPosters Trial VAR/SwissPosters Trial VAR WOFF2/Swissposters Trial VAR-VF.ttf.woff2") format("woff2-variations");
}

@font-face {
    font-family: "inte";
    src: url(typos/Integral-CF-Font-Family/Fontspring-DEMO-integralcf-extrabold.otf);
}

@keyframes Slide {
    from {
        transform: translateX(100%);
      }
    
      to {
        transform: translateX(0%);
      }    
}    


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 90%;
    margin: 0 auto;
    height: 100vh;
    position: relative;
}


@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

body::-webkit-scrollbar {
    display: none;
}

p {
    font-size: 30px;
    font-family: "Nina" Arial, Helvetica, sans-serif;
}


a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: "inte", Arial, Helvetica, sans-serif;
    letter-spacing: 0.2rem;
    position: relative;
}

a:nth-child(4){
    color: blueviolet;
}

nav {
    display: flex;
    ;
    padding: 3rem;
    justify-content: space-between;

}


nav label{
    margin: 10px 0 0 0;
}

.burger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

#menu-toggle {
    display: none;
    }


@media (max-width: 991px) {

    nav {
        flex-direction: column;
        padding: 1rem;
    }

    /* Masquer les liens par défaut */
    nav>a.hover-target {
        display: none;
        width: 100%;
        margin: 1rem 0;
    }

    /* Afficher le burger */
    .burger {
        display: block;
    }

    /* Toggle : afficher les liens quand burger coché */
    #menu-toggle:checked ~ a.hover-target {
        display: block;
    }


}
